line.mrna {
  stroke: brown;
  stroke-width: 3; }

circle.codon {
  fill: chocolate; }

.slides p {
	text-align: left;
	margin-left: 100px;
	line-height: 2em;
}

.slides li {	
	margin-bottom: 0.7em;
}

.axis text {
  stroke: none;
  font-size: 60%; }
  
 .biglabel {
  text-anchor: middle;
  font-size: 80%;
  }
	 

.x.axis.label,
.y.axis.label,
 {
  stroke: none;
  font-size: 60%; }
  
.axis path,
.axis line {
  fill: none;
  stroke: black;
   }
  
  
